.config/EOS-greeter.conf
.config/Thunar/
.config/clash/
.config/dconf/
.config/eos-update-notifier.first_init
.config/gtk-3.0/
.config/pulse/
.config/systemd/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/
