[user]
  name = vincent178
  email = vh7157@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[push]
	default = current
[pull]
	rebase = true
; [http]
; 	proxy = http://192.168.50.152:7890
